<% include header.html %>
<div class="row">
    <div class="large-5 small-5 columns" id="restaurants">
        <h2 align="center">Restaurants<h2>
        <% var count = 0; %>
        <% restaurants.forEach(function (rest) { %>
            <div class="row panel restaurant" id="<%= count %>">
                <h3><%= rest.na %></h3>
                <h4><%= rest.addr %></h3>
            </div>
            <% count += 1; %>
        <% }); %>
    </div>

    <div class="large-5 small-5 columns small-offset-1 large-offset-1" id="menuContainer">
        <h2 align="center">Menu</h2>
        <div class="panel" id="menu">
            <h3 align="center">Choose a restaurant to load a menu.</h3>
        </div>
    </div>
</div>
<script>
    var restaurants = <%- JSON.stringify(restaurants) %>;
    var addr = "<%= addr %>";
    var city = "<%= city %>";
    var zip = "<%= zip %>";
</script>
<% include footer.html %>
